<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/root.css" />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/write.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="h1 mw">
        <a href="/list" class="back"><i class="fa-solid fa-angle-left"></i></a>
        <h1>Add New Song</h1>
      </div>
      <ul class="cat mw">
        <li>Party</li>
        <li>Chill</li>
        <li>Focus</li>
        <li>Fitness</li>
        <li>Romance</li>
        <li>Energy</li>
        <li>Easy Listening</li>
        <li>Sleep</li>
        <li>Drive</li>
      </ul>
      <form action="/add" method="post">
        <label><input type="text" name="title" /></label>
        <label><input type="text" name="artist" /></label>
        <label><input type="text" name="albumInt" /></label>
        <label><input type="text" name="lyrics" /></label>
        <label><input type="text" name="comment" /></label>
        <label><input type="text" name="link" /></label>

        <input type="submit" value="Add" />
      </form>
    </div>
  </body>
</html>
