@charset 'utf-8';

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,500;1,700&display=swap");
body,
a {
  font-family: "Montserrat", sans-serif;
  color: var(--main_white);
}

/* h1 */
.h1 {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}
.back {
  position: absolute;
  top: 30px;
  left: 36px;
  font-size: 1.25rem;
  color: var(--sup_gray);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.h1 h1 {
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
  background: var(--point_mintG);
  color: transparent;
  -webkit-background-clip: text;
}

/* cate */
.cate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 110px;
}
.cate li {
  border: 1px solid var(--main_white);
  border-radius: 50px;
  padding: 0.5rem;
  height: 30px;
  text-align: center;
  color: var(--main_white);
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  margin: 0.25rem;
}
.cate li:hover {
  border: none;
  background-color: rgba(135, 135, 135, 0.55);
}

/* con */
.write-con textarea {
  padding: 0.25rem;
  font-size: 14px;
  background: transparent;
  border: 1px solid var(--main_white);
  color: var(--main_white);
  font-family: var(--font_Mon);
  margin-top: 0.25rem;
  width: calc(100% - 12px);
  resize: none;
}
.write-con textarea:focus {
  outline: none;
}
.write-con textarea::placeholder {
  color: var(--sup_gray);
}
.box1,
.box2,
.box3,
.box4,
.box5 {
  padding: 16px 0;
}
.box1 textarea,
.box5 textarea {
  height: 1.5rem;
  line-height: 1.5rem;
}
.box1 {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.box1 li {
  width: calc(100% / 2 - 12px);
}
.box1 li {
  font-weight: 600;
}
#albumInt {
  min-height: 100px;
  max-height: 300px;
}
#lyrics {
  min-height: 150px;
  max-height: 300px;
}
.add-btn {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 60px;
}
.add-btn button {
  width: 50%;
  height: 60px;
  border: 1px solid var(--main_white);
  background-color: transparent;
  border-radius: 50px;
  font-family: var(--font_Play);
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  color: var(--main_white);
  cursor: pointer;
}
.add-btn button:hover {
  background: var(--point_mintG);
  border: none;
  color: var(--main_black);
}
